<h2>Agregar Curso</h2>

<form [formGroup]="formulario" (ngSubmit)="agregarCurso()" >
  <div class="row">

    <div class="col-md-4">
      <mat-form-field appearence="fill" class="llenadoPagina">
        <mat-label>Curso</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>
    </div>

    <div class class="col-md-4">
      <mat-form-field appearence="fill" class="llenadoPagina">
        <mat-label>Comision</mat-label>
        <input matInput formControlName="comision">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearence="fill" class="llenadoPagina">
        <mat-label>Profesor</mat-label>
        <input matInput formControlName="profesor">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="fill" class="llenadoPagina">
        <mat-label>Comienza</mat-label>
        <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
        <mat-datepicker #fechaInicio></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="fill" class="llenadoPagina">
        <mat-label>Finaliza</mat-label>
        <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
        <mat-datepicker #fechaFin></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-4" class="llenadoPagina">
      <mat-slide-toggle formControlName="inscripcionAbierta">Inscripción Abierta</mat-slide-toggle>
    </div>

    <div class="col-md-12">
      <button type="submit" class="btn btn-secondary">Agregar Curso</button>
    </div>

  </div>
</form>
