<div class="container-fluid footer">

  <div class="row justify-content-center p-t-1">
    Avenida Siempreviva 742 Springfield USA | (54 11) 1234 4321 / 1212 2121 / 3434 4343 | info@cursalia.gmail.com.ar
  </div>

  <div class="row justify-content-center">© {{ appInfo.year }} CURSALIA Todos los derechos Reservados.
  </div>

  <div class="row justify-content-center">
    <div class="centrar">
    <a href="whatsapp://send?text=Hola, Index.pe&phone=+54 9 3446 63 8755&abid=+54 9 3446 62 1468">
    <i class="fa-solid fa-mobile-screen"></i>
    +54 9 3446 63-8755
    </a>
    <span> | </span>
    <a href="mailto:info@cursalia.gmail.com.ar?Subject=Mas%20Informacion">
      <i class="fa-solid fa-envelope"></i>
      cursalia
    </a>
  </div>
</div>
</div>
