
<div class="div-contacto-ubicacion">
  <div class="div-contacto-img-local">
      <img src="../../../../assets/imagenes/contacto.png" alt="Academia" title="Academia">
  </div>

  <div class="contacto-banner">
      <p><strong>CEO: Pamela Tamara Rodriguez</strong>
      <p> (+54 11) 1234 4321 / 1212 2121 / 3434 4343</p>
      <p>cursalia@gmail.com</p>
      <p><strong>Nuestra Oficina:</strong></p>
      <p>Avenida Siempreviva 742 Springfield USA</p>
      <p><strong>Horarios de Atención:</strong></p>
      <p>Lunes a Viernes de 9 a 20 hs.</p>
      <p>Sábados de 8 a 12 hs.</p>
  </div>

<div class="mapa-contacto">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.671281287245!2d-115.01766808561332!3d36.077121115767135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8d0b898a7649f%3A0x3be0acc52400aa29!2sRed%20Bark%20Ln%2C%20Henderson%2C%20NV%2089011%2C%20EE.%20UU.!5e0!3m2!1ses!2sar!4v1667701768187!5m2!1ses!2sar" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>
</div>
