
<div class="titulo-conoceme">
  <h2> ACADEMIA DE PROGRAMACIÓN CURSALIA </h2>
</div>
<div class="texto-conoceme">
<p><strong>CURSALIA</strong> Es un proyecto ideado por dos amigos programadores para poder
generar un espacio donde las personas puedan aprender de este hermoso mundo, agrupando los lenguajes mas requeridos en la actualidad, nos especializamos en formación online en Tecnologías de la Información.</p>

<p>Desde el año 2015, diseñamos e impartimos cursos. Además de autores propios, contamos con una red de colaboradores muy calificados, expertos con amplia experiencia en esta modalidad de formación.</p>

</div>
