<h2 align="center">Listado de Alumnos</h2>
<table class="table table-hover">
  <thead>
    <tr  class="table-primary">
      <th scope="col">Código</th>
      <th scope="col">Curso</th>
      <th scope="col">Apellido</th>
      <th scope="col">Nombres</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-dark">
      <th scope="row">30255</th>
      <td>Angular</td>
      <td>MULLEN</td>
      <td>FRANK</td>
    </tr>
    <tr class="table-dark">
      <th scope="row">30255</th>
      <td>Angular</td>
      <td>DOLAN</td>
      <td>ROSS</td>
    </tr>
    <tr class="table-dark">
      <th scope="row">30255</th>
      <td>Angular</td>
      <td>WALKER</td>
      <td>JEFF</td>
    </tr>
  </tbody>
</table>
