<h2 align="center">Listado de Alumnos</h2>
<div class= "btn-altalu">
<button mat-raised-button (click)="openDialog()" type="button" class="btn btn-primary">Agregar Alumno</button>
</div>
<hr>
<mat-form-field>
  <mat-label>Filtro Apellido</mat-label>
  <input type="text" matInput (keyup)="filtrarApellido($event)">
</mat-form-field>

<div class="alternativo">
<!-- DESAFIO 2 -->
<!-- <table  mat-table [dataSource]="dataSource" class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Curso</th>
      <th scope="col">Edad</th>
      <th scope="col">Dni</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let alumno of listaAlumnos">
    <ng-container *ngFor="let alumno">
     <tr class="table-dark" *ngFor="let alumno of listaAlumnos">
      <tr class="table-dark" *ngIf="alumno.apellido !== 'Belladona' && alumno.edad > 30">
        <th scope="row">{{ alumno.id }}</th>
        <td>{{ alumno.nombre }}</td>
        <td>{{ alumno.apellido }}</td>
        <td>{{ alumno.curso }}</td>
        <td>{{ alumno.edad }}</td>
        <td>{{ alumno.dni }}</td>
      </tr>
      <tr class="table-dark" *ngIf="alumno.apellido === 'Belladona' ">
        <th scope="row">{{ alumno.id }}</th>
        <td>{{ alumno.nombre | uppercase}}</td>
        <td>{{ alumno.apellido | uppercase}}</td>
        <td>{{ alumno.curso }}</td>
        <td>{{ alumno.edad }}</td>
        <td>{{ alumno.dni }}</td>
      </tr>
      <tr class="table-dark"  *ngIf="alumno.edad < 30 ">
        <th scope="row">{{ alumno.id }}</th>
        <td>{{ alumno.nombre | lowercase}}</td>
        <td>{{ alumno.apellido | lowercase}}</td>
        <td>{{ alumno.curso }}</td>
        <td>{{ alumno.edad }}</td>
        <td>{{ alumno.dni }}</td>
      </tr>
     </tr>
  </ng-container>
  </tbody>
</table> -->
<table  mat-table [dataSource]="dataSource" class="mat-table-primary mat-table-hover col-md-12">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef appCabeceraLetra>Nombre</th>
    <td mat-cell *matCellDef="let alumno">{{ alumno.nombre }}</td>
</ng-container>

<!-- 'apellido' -->
<ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let alumno">{{ alumno.apellido }}</td>
</ng-container>

<!-- 'profesor' -->
<ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef appCabeceraLetra >Curso</th>
    <td mat-cell *matCellDef="let alumno">{{ alumno.curso }}</td>
</ng-container>

<!-- 'fechaInicio' -->
<ng-container matColumnDef="edad">
    <th mat-header-cell *matHeaderCellDef appCabeceraLetra>Edad</th>
    <td mat-cell *matCellDef="let alumno">{{ alumno.edad }}</td>
</ng-container>

<!-- 'fechaFin' -->
<ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef appCabeceraLetra>DNI</th>
    <td mat-cell *matCellDef="let alumno">{{ alumno.dni }}</td>
</ng-container>


<!-- 'acciones' -->
<ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef appCabeceraLetra>Operación</th>
    <td mat-cell *matCellDef="let alumno">
        <button mat-icon-button>
            <mat-icon>border_color</mat-icon>
        </button>
        <button mat-icon-button (click)="borrar(alumno.id)">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnas">  </tr>
<tr mat-row *matRowDef="let row; columns: columnas"></tr>
</table>
</div>
