<h2 align="center">Listado de Alumnos</h2>
<div class= "btn-altalu">
<button (click)="openDialog()" type="button" class="btn btn-primary">Agregar Alumno</button>
</div>
<!-- DESAFIO 2 -->
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Curso</th>
      <th scope="col">Edad</th>
      <th scope="col">Dni</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let alumno of listaAlumnos">
    <!-- <tr class="table-dark" *ngFor="let alumno of listaAlumnos"> -->
      <tr class="table-dark" *ngIf="alumno.apellido !== 'Belladona' && alumno.edad > 30">
        <th scope="row">{{ alumno.id }}</th>
        <td>{{ alumno.nombre }}</td>
        <td>{{ alumno.apellido }}</td>
        <td>{{ alumno.curso }}</td>
        <td>{{ alumno.edad }}</td>
        <td>{{ alumno.dni }}</td>
      </tr>
      <tr class="table-dark" *ngIf="alumno.apellido === 'Belladona' ">
        <th scope="row">{{ alumno.id }}</th>
        <td>{{ alumno.nombre | uppercase}}</td>
        <td>{{ alumno.apellido | uppercase}}</td>
        <td>{{ alumno.curso }}</td>
        <td>{{ alumno.edad }}</td>
        <td>{{ alumno.dni }}</td>
      </tr>
      <tr class="table-dark"  *ngIf="alumno.edad < 30 ">
        <th scope="row">{{ alumno.id }}</th>
        <td>{{ alumno.nombre | lowercase}}</td>
        <td>{{ alumno.apellido | lowercase}}</td>
        <td>{{ alumno.curso }}</td>
        <td>{{ alumno.edad }}</td>
        <td>{{ alumno.dni }}</td>
      </tr>
    <!-- </tr> -->
  </ng-container>
  </tbody>
</table>
