<h1 class="alinearTexto colorFooter">Identificarse</h1>
<div class="col-auto bg-secondary p-5 text-center">
  <form [formGroup]="formulario" (ngSubmit)="validacionUsuario()">
    <div class="row align-self-center">
      <div class="col-md-12 align-self-center">
        <mat-form-field appearance="fill" class="fill">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="usuario">
          <p *ngIf="formulario.get('usuario')?.touched && formulario.get('usuario')?.errors?.['required']"> ¡Este campo es requerido!</p>
          <p *ngIf="formulario.get('usuario')?.touched && formulario.get('usuario')?.errors?.['email']">¡Formato Email no valido!</p>
        </mat-form-field>
      </div>
      <div class="col-md-12 align-self-center">
        <mat-form-field appearance="fill" class="fill">
          <mat-label>Clave</mat-label>
          <input type="password" matInput formControlName="contrasena">
          <p *ngIf="formulario.get('contrasena')?.touched && formulario.get('contrasena')?.errors?.['required']"> ¡Este campo es requerido!</p>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-12 align-self-center" >
          <button type="submit" mat-raised-button color="primary" [disabled]="formulario.invalid">Ir</button>
        </div>
      </div>
    </div>
  </form>
  <!-- <div class="colWhitBG">
    <pre>
  Usuario Admin: admin
  Clave: admin
</pre>
  </div> -->
</div>
