<p>Identificarse</p>
<div class="center">
  <form [formGroup]="formulario" (ngSubmit)="login()">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill" class="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usuario">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill" class="fill">
                <mat-label>Clave</mat-label>
                <input matInput formControlName="clave">
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-slide-toggle formControlName="admin">Es admin</mat-slide-toggle>
        </div>
        <div class="col-md-2">
            <button type="submit" [disabled]="formulario.invalid" mat-raised-button color="primary">Ingresar</button>
        </div>
    </div>
</form>
<div><pre>
  Usuario Admin: admin
  Clave: admin
</pre></div>
</div>
