
<div id="btn-vertical" style="list-style-type:none;">
  <li>
       <ul><button type="button" class="btn btn-success btn-sm">Nuevo Curso</button></ul>
       <ul><button type="button" class="btn btn-success btn-sm">Modificar Curso</button></ul>
       <ul><button type="button" class="btn btn-success btn-sm">Borrar Curso</button></ul>
       <ul><button type="button" class="btn btn-success btn-sm">Buscar Curso</button></ul>
       <ul><button type="button" class="btn btn-success btn-sm">Listar Cursos</button></ul>
  </li>
 </div>

 