@import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';


.mat-table {
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}
.mat-table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.mat-table > tbody {
  vertical-align: inherit;
}
.mat-table > thead {
  vertical-align: bottom;
}
.mat-table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.mat-table-primary {
  --bs-table-color: #fff;
  --bs-table-bg: #2c3e50;
  --bs-table-border-color: #415162;
  --bs-table-striped-bg: #374859;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #415162;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #3c4c5d;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.mat-table-secondary {
  --bs-table-color: #fff;
  --bs-table-bg: #95a5a6;
  --bs-table-border-color: #a0aeaf;
  --bs-table-striped-bg: #9aaaaa;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #a0aeaf;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #9dacad;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.mat-cell {
  color: #ffff;
}

.mat-header-cell{
  color: #ffff;
  font-size: 1rem;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  caption-side: bottom;
  text-align: center;
  letter-spacing: 1px;

}


.mat-card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #2c3e50;;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
.mat-card > hr {
  margin-right: 0;
  margin-left: 0;
}
.mat-card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.mat-card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}
.mat-card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}
.mat-card > .mat-card-header + .list-group,
.mat-card > .list-group + .card-footer {
  border-top: 0;
}

.mat-card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.mat-card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
}

.mat-card-subtitle {
  margin-top: calc(-0.5 * var(--bs-card-title-spacer-y));
  margin-bottom: 0;
}

.mat-card-text:last-child {
  margin-bottom: 0;
}

.mat-card-link + .card-link {
  margin-left: var(--bs-card-spacer-x);
}

.mat-card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.mat-card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}

.mat-card-footer {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.mat-card-footer:last-child {
  border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
}

.mat-card-header-tabs {
  margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
  margin-bottom: calc(-1 * var(--bs-card-cap-padding-y));
  margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
  border-bottom: 0;
}
.mat-card-header-tabs .nav-link.active {
  background-color: var(--bs-card-bg);
  border-bottom-color: var(--bs-card-bg);
}

.mat-card-header-pills {
  margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
  margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
}

.mat-card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
}

.mat-card-img,
.mat-card-img-top,
.mat-card-img-bottom {
  width: 100%;
}

.mat-card-img,
.mat-card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.mat-card-img,
.mat-card-img-bottom {
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

.mat-card-group > .card {
  margin-bottom: var(--bs-card-group-margin);
}
@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .mat-card-group > .mat-card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .mat-card-group > .mat-card + .mat-card {
    margin-left: 0;
    border-left: 0;
  }
  .mat-card-group > .mat-card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .mat-card-group > .mat-card:not(:last-child) .mat-card-img-top,
.mat-card-group > .mat-card:not(:last-child) .mat-card-header {
    border-top-right-radius: 0;
  }
  .mat-card-group > .mat-card:not(:last-child) .card-img-bottom,
.mat-card-group > .mat-card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .mat-card-group > .mat-card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .mat-card-group > .mat-card:not(:first-child) .mat-card-img-top,
.mat-card-group > .mat-card:not(:first-child) .mat-card-header {
    border-top-left-radius: 0;
  }
  .mat-card-group > .mat-card:not(:first-child) .mat-card-img-bottom,
.mat-card-group > .mat-card:not(:first-child) .mat-card-footer {
    border-bottom-left-radius: 0;
  }
}
