/* You can add global styles to this file, and also import other style files */
.logo-imagen {
  display: block;
  width: 140px;
  height: 70px;
}

.centrar {
  width: 300px !important;
  margin: 0px auto !important;
  padding: 8px;
}

.centrar a {
  text-decoration:none;
}

.btn-altalu{
  border-bottom: 10px;
  padding: 20px;
}
